<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>reservation-list</title>
</head>
<body>
<table>
    <tr>
        <th>상점 이름</th>
        <th>예약 시간</th>
        <th>예약 상태</th>
    </tr>

    <tr th:each="reservation : ${reser}">
        <td th:text="${reservation.shopEntity.shopName}"></td>
        <td>
            <input type="text" name="reserTime" th:value="${reservation.date}" readonly>
        </td>
        <td>
            <span th:text="${reservation.reservationStatus}"></span>
        </td>
        <td>
            <form th:action="@{/member/review}" method="post" th:if="${reservation.reservationStatus == T(com.example.reservation.type.ReservationStatus).CHECKIN}">
                <input type="hidden" name="reserId" th:value="${reservation.id}">
                <input type="submit" value="리뷰작성">
            </form>
            <form th:action="@{/member/checkin}" method="post" th:if="${reservation.reservationStatus == T(com.example.reservation.type.ReservationStatus).APPROVE}">
                <input type="hidden" name="reserId" th:value="${reservation.id}">
                <input type="submit" value="체크인">
            </form>
        </td>
    </tr>

</table>
</body>
</html>
