<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shop-list</title>
</head>
<body>
<form method="post" action="/member/reviewComplete">
    <h1>리뷰 작성</h1>
    <input type="hidden" name="reserId" th:value="${reserId}">
    <input type="text" name="comments" placeholder="리뷰 작성" style="width: 300px;height: 200px">
    <br>
    <input type="text" name="star" placeholder="1 ~ 5">
    <input type="submit" value="확인">
</form>

</body>
</html>
