<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save shop</title>
</head>
<body>
<h1>상점 등록</h1>

</div>
<form action="/partner/shop/save" method="post">

    <div>
        <input type="text" name="shopName" placeholder="상점 입력" required />
    </div>

    <div>
        <input type="text" name="description" placeholder="상점 설명" required/>
    </div>
    <div>
        <input type="text" name="address" placeholder="상점 주소" required/>
    </div>
    <div>
        <input type="text" name="lng" placeholder="위도" required />
    </div>

    <div>
        <input type="text" name="lat" placeholder="경도" required />
    </div>
    <div>
        <input type="submit" value="회원가입">
    </div>
</form>
</body>
</html>